<section>
  <div class="container">
    <h3 class="title">
      部屋編集
    </h3>
  </div>
</section>

<% if @room.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@room.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @room.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "shared/rooms_partial"%>