<div class="alert">
  <%= render "shared/error", obj: @room %>
</div>

<section>
  <div class="container">
    <h3 class="title">
      新規部屋登録
    </h3>
  </div>
</section>

<%= render "shared/rooms_partial"%>